<% if @apartment.errors.any? %>
      <div id="error_explanation">
        <h2><%= @apartment.errors.count %>件のエラーがあります。</h2>
        <ul>
  
        <% @apartment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<%= form_with(model: @apartment, local: true, url: choose_new_or_edit) do |form| %>
  
  <h2>物件情報</h2>
  <%= form.label :物件名 %><br>
  <%= form.text_field :apartment_name %><br>
  <br>
  <%= form.label :賃料 %><br>
  <%= form.number_field :rent %>円<br>
  <br>
  <%= form.label :住所 %><br>
  <%= form.text_field :address %><br>
  <br>
  <%= form.label :築年数 %><br>
  <%= form.number_field :building_age %>年<br>
  <br>
  <%= form.label :備考 %><br>
  <%= form.text_area :remark %><br>

  <hr>

  <%= form.fields_for :stations do | stations_form | %>
    <h2>最寄駅<%= @station_index += 1 %></h2>
    <%= stations_form.label :路線 %><br>
    <%= stations_form.text_field :line %><br>
    <br>
    <%= stations_form.label :駅名 %><br>
    <%= stations_form.text_field :station_name %><br>
    <br>
    <%= stations_form.label :徒歩 %><br>
    <%= stations_form.number_field :minutes_on_foot %>分<br>
    <br>
  <% end %>

   <%= form.submit @submit_text %>

<% end %>

